ENV=DEV
TRON_API_KEY=
POSTGRES_SCHEMA=forkiteh
POSTGRES_HOST=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_POOL_PRE_PING=True
MIN_POOL_SIZE=10
MAX_POOL_SIZE=20
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres